<h2>Table</h2>
<hr>
<table class="table table-striped">
  <thead>
  <tr>
    <th>#</th>
    <th>Takım</th>
    <th>O</th>
    <th>G</th>
    <th>B</th>
    <th>M</th>
    <th>A</th>
    <th>Y</th>
    <th>Av</th>
    <th>Puan</th>
  </tr>
  </thead>
  <tbody>
  <% @players.each do |team| %>
      <tr>
        <th scope="row">1</th>
        <td><%= team.team %></td>
        <td><%= team.played %></td>
        <td><%= team.win %></td>
        <td><%= team.draw %></td>
        <td><%= team.loss %></td>
        <td><%= team.goal_scored %></td>
        <td><%= team.goal_conceeded %></td>
        <td><%= team.average %></td>
        <td><b><%= team.score %></b></td>
      </tr>
  <% end %>
  </tbody>
</table>