<%= render 'tournaments/widgets/tournament_details' %>
<% if @tournament.rules[:grouped] %>
    <% @tournament.get_groups.each do |gr| %>
        <div class="box box-warning">
          <div class="box-header">
            <h3 class="box-title">Group <%= gr %></h3>
          </div>
          <%= render 'tournaments/group_table', :players => @players.where(:group => gr) %>
        </div>
    <% end %>
<% else %>
    <div class="box box-warning">
      <div class="box-header">
        <h3 class="box-title">Table</h3>

        <div class="box-tools pull-right">
          <%= link_to '<i class="fa fa-play"></i>'.html_safe, simulate_tournament_path(@tournament), :remote => true, :data => {:toggle => "tooltip", :placement => "right"}, :title => 'Simulate all matches', :class => "btn btn-box-tool", :onclick => "loadingContainer.show()" %>
        </div>
      </div>
      <%= render 'tournaments/group_table', :players => @players %>
    </div>

<% end %>
