<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Tournament name</th>
    <th>Type</th>
    <th>Players</th>
    <th>State</th>
  </tr>
  </thead>
  <tbody>
  <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= link_to tournament.name, tournament_path(tournament) %></td>
        <td><%= tournament.tournament_type %></td>
        <td><%= tournament.players.count %></td>
        <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tournament', new_tournament_path %>
