
<div class="row">

  <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">New Tournament</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <%= form_for(@tournament) do |f| %>
        <%= render 'layouts/shared/form_errors', :errors => @tournament.errors %>

        <div class="box-body">
          <%= f.text_field :name, :class => "form-control input-lg", :placeholder => "Tournament name" %>
          <br>
          <%= f.select :tournament_type, options_for_select(Tournament::TYPES), {:prompt => "Tournament type"}, :class => "form-control input-lg" %>
          <br>
          <%= f.number_field :number_of_players, :class => "form-control input-lg", :placeholder => "Number of players" %>
          <br>
        </div>
      <!-- /.box-body -->

      <div class="box-footer">
        <%= f.submit "Save", :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>