<div class="row">
  <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">Setup Tournament</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <%= form_for(@tournament, url: submit_setup_tournament_path(@tournament), method: :put) do |f| %>
        <%= render 'layouts/shared/form_errors', :errors => @tournament.errors %>

        <div class="box-body">
          <%= f.fields_for :players do |p| %>
              <%= p.text_field :name, :class => "form-control input-lg", :placeholder => "Player #{ p.index + 1 }" %>
              <br>
          <% end %>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
          <%= f.submit "Save", :class => "btn btn-primary" %>
        </div>
    <% end %>
  </div>
</div>
