<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= @page_title %></title>

  <!-- REQUIRED JS SCRIPTS -->

  <!-- jQuery 2.1.4 -->
  <%= javascript_include_tag 'jQuery-2.1.4.min' %>
  <!-- Bootstrap 3.3.5 -->
  <%= javascript_include_tag 'bootstrap.min' %>
  <!-- AdminLTE App -->
  <%= javascript_include_tag 'app.min' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery_ujs', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'turbolinks', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.5 -->
  <%= stylesheet_link_tag 'bootstrap.min' %>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <%= stylesheet_link_tag 'AdminLTE' %>
  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect.
  -->
  <%= stylesheet_link_tag 'skins/skin-green.min' %>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="hold-transition skin-green layout-top-nav ">
<div class="wrapper">
  <!-- Main Header -->
  <%= render partial: "layouts/shared/header" %>
  <!-- Content Wrapper. Contains page content -->
  <div class="register-box">
        <%= bootstrap_flash %>
        <%= yield %>
  </div>
</div>
<!-- ./wrapper -->
</body>
</html>